@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700&display=swap");
@import "tailwindcss";

/* Fonte padr찾o do site inteiro */
body {
  margin: 0;
  font-family: "Montserrat", system-ui, -apple-system, BlinkMacSystemFont,
    "Segoe UI", sans-serif;
}

/* 
Aqui vem os estilos padr찾o comentados na reuni찾o,
como os padr천es de texto, card e etc.

EXEMPLO:
*/
.large-title {
  font-size: 32px;
  color: rgb(90, 148, 255);
  font-weight: bold;
}
